.container {
  max-width: 800px;
  margin: 40px auto; 
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.aboutHeading {
  font-size: 2.5rem;
  color: #333333; 
  border-bottom: 2px solid #a37f5b; 
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 500;
}

.missionStatement {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555555; 
}
.missionStatement:hover {
    color: #333333;
    transition: color 0.3s ease-in-out;
}
