main {
  flex: 1; 
  padding-bottom: 80px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

mainTitle {
  color: #ffe5b4; 
  font-size: 1.8em;  
  margin-bottom: 0.2em; 
}

.subtitle {
    color: var(--text-color); 
    font-size: 1.2em; 
}
