.footer-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-text {
  margin: 0 0 10px 0; 
}

.footer-link {
  color: #fff;
  text-decoration: none; 
  margin: 0 10px; 
}

.footer-link:hover {
  text-decoration: underline;
}
