.navbar-header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  margin: 0;
}

.navbar-buttons button {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}

.navbar-signin {
  margin-right: 10px;
  background-color: transparent;
}

.navbar-signup {
  background-color: #007BFF; 
  color: white;
  border-radius: 4px; 
}
