html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important; 
}

.App { 
  width: 100% !important;
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}
